body{
	font-family: "Trebuchet MS", Arial;
	animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}

header{
	margin-top: 15px;
}

h1{
	color: pink;
}

header nav{
	display: flex;
	justify-content: flex-end;
}

nav a{
	color: pink;
	font-size: 20px;
	margin: 30px;
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #00BFFF;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

nav a:hover{
	text-decoration: none;
	color: pink;
}

.jumbotron-home{
	background-image: url(cherry_blossoms.png);
	background-size: cover;
	background-position: center;
	height: 585px;
}

.jumbotron-page{
	background-color: pink;
}

footer div {
	display: flex;
}

footer p{
	color: pink;
	margin-top: 5px;
}

footer ul{
	list-style: none;
	display: flex;
	justify-content: flex-end;
}

.col-sm-1 img{
	width: 35px;
	height: 35px;
}

@keyframes fadeInAnimation { 
	0%{ 
		opacity: 0; 
	} 
	100%{ 
		opacity: 1; 
	}
}